.card-arrangement{
    display: block;
}

::ng-deep .p-card {
    box-shadow: 0 3px 18px #000000 !important;
    border-radius: 1px !important;
}

::ng-deep .p-card-body{
    display: block !important;
    height: 100px !important;
}

::ng-deep .p-inputtext{
    margin-top: 7px;
    width: 350px;
    font-family: sans-serif !important;
    font-size: 14px !important;
    color: #737373;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {

    font-family: sans-serif !important;
    font-size: 14px !important;
    color: #666666;
    font-weight: bold;
    /* background-color: #666666; */
}

::ng-deep .p-datatable .p-datatable-thead > tr > th :hover {

    font-family: sans-serif !important;
    font-size: 14px !important;
    color: #666666;
    font-weight: bold;
    /* background-color: #F0F6FF; */
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    font-family: sans-serif !important;
    font-size: 14px !important;
    color: #666666;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    font-family: sans-serif !important;
    font-size: 14px !important;
    color: #666666;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #2196F3 !important;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight {
    background: #e0e0e0 !important;
    color: #333333 !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {

    background-color:#ffffff;
}

::ng-deep .p-datatable .p-datatable-tbody > tr:hover {

    background-color:#F0F6FF;
}

.formEle {
    font-family: sans-serif;
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 24px;
}

.btn{
    width: 350px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #0063e6;
    color: #FFFFFF;
    height: 36px;
    border: 0;
    border-radius: 4px;
}

.btn:hover{
    background-color: #F0F6FF;
}

.btn-show:active{
    background-color: green;
}

.btn-show{
    width: 350px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #0063e6;
    color: #FFFFFF;
    height: 36px;
    border: 0;
    border-radius: 4px;
}

.btn-show:active{
    background-color: green;
}

.btn-show:visited{
    background-color: green;
}